.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    text-align: center;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.icon{
    width: 8rem;
    filter: drop-shadow(10px 8px 8px #0a0a0a49);
}

.started-btn:hover{
    cursor:pointer;
}

.url-doc{
    font-size: 1rem;
    color: #ffffff;
}